@model IEnumerable<Model.Route>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAmanda.cshtml";
}

<div class="pageheader notab">
    <h1 class="pagetitle">Rutas</h1>
    <span class="pagedesc">Listado de rutas</span>
</div>
<!--pageheader-->

<div id="contentwrapper" class="contentwrapper">
    <form id="Form" name="Form" runat="server" class="stdform stdform2">
        <div class="dxg-grid-container">
            <table cellpadding="0" cellspacing="0" border="0" id="dyntable" class="stdtable stdtablecb">
                <colgroup>
                    <col class="con0" style="width: 4%" />
                    <col class="con1" />
                    <col class="con0" />
                    <col class="con1" />
                    <col class="con0" />
                    <col class="con1" />
                    <col class="con0" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="head1">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Distance)
                        </th>
                        <th class="head1">
                            @Html.DisplayNameFor(model => model.Created)
                        </th>
                        <th class="head0">
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </th>
                        <th class="head1">
                            @Html.DisplayNameFor(model => model.Deleted)
                        </th>
                        <th class="head0">
                            @Html.DisplayNameFor(model => model.DeletedBy)
                        </th>
                        <th class="head1">
                            @Html.DisplayNameFor(model => model.Updated)
                        </th>
                        <th class="head0">
                            @Html.DisplayNameFor(model => model.UpdatedBy)
                        </th>
                        <th class="head1">
                            @Html.DisplayNameFor(model => model.IsDeleted)
                        </th>
                        <th class="head0">&nbsp;</th>
                    </tr>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Distance)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Deleted)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeletedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Updated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsDeleted)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </td>
                            </tr>
                        }
                    </tbody>

            </table>
        </div>
        <div class="stdform stdform2">
            <div class="par stdformbutton">
                <button type="button" class="stdbtn btn_blue" onclick="window.location.href='/BackOffice/Routes/Create';">
                    Nuevo</button>
            </div>
        </div>

    </form>
</div>

<script type="text/javascript">

    jQuery(document).ready(function () {

        jQuery('#dyntable').dataTable({
            "oLanguage": { "sUrl": "/Scripts/plugins/i18n/dataTables.spanish.txt" },
            "sPaginationType": "full_numbers",
            "bSort": true,
            "bServerSide": true,
            "sAjaxSource": "/BackOffice/Routes/jQueryDataTablesHandler",
            "bProcessing": true,
            "aoColumns": [
                        { "sName": "Name" },
                        { "sName": "Distance" },
                        { "sName": "Created" },
                        { "sName": "CreatedBy" },
                        { "sName": "Deleted" },
                        { "sName": "DeletedBy" },
                        { "sName": "Updated" },
                        { "sName": "UpdatedBy" },
                        { "sName": "IsDeleted" }]
        });
    });

</script>
